*/.ipynb_checkpoints/*
*/__pycache__/*
*.err
*.out
*~
.#*
.coverage
lightning_logs/
dist/*
/notebooks/test_dataloader.ipynb
/notebooks/notes.txt
/model_zoo.txt
/.ipynb_checkpoints/
/config_tree.log
/bin/config_tree.log
/bin/conf/.ipynb_checkpoints/
/bin/conf/datamodule/.ipynb_checkpoints/
/bin/conf/experiments/.ipynb_checkpoints/
/bin/conf/callbacks/.ipynb_checkpoints/
/bin/conf/log_dir/.ipynb_checkpoints/
/bin/conf/loggers/.ipynb_checkpoints/
/bin/conf/losses/.ipynb_checkpoints/
/bin/conf/metrics/.ipynb_checkpoints/
/bin/conf/model/.ipynb_checkpoints/
/bin/conf/trainer/.ipynb_checkpoints/
